#filter_container {
    display: flex;
    margin-top: 1%;
    margin-right: 1px;
    margin-left: 1px;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

#no_data_found_message {
    display: flex;
    margin-top: 1%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.filter_button {
    display: inline;
    background-color: rgb(104, 104, 104);
    color: white;
    font-size: 11px;
    border-width: 1px;
    padding: 9px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(72, 70, 88);
    cursor: pointer;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position: relative;
}

.filter_button:hover {
    opacity: 65%;
}

.filter_button:active {
    background-color: black;
}

#catalog_container {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
  
.product_card {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    background-color: white;
    max-width: 130px;
    /* height: 310px; */
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    position: relative;
    word-wrap: break-word;
    margin-top: 15%;
}

.product_card:last-child {
    margin-bottom: 15%;
}
  
.product_card > img {
    width: 130px;
    height: 80px;
}

.price {
    color: grey;
}

.product_card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgb(36, 36, 36);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position:absolute;
    bottom: 0;
    left: 0;
}
  
.product_card button:active {
    opacity: 0.7;
}

.description {
    font-size: 20;
}

#highlighted_product_info_container {
    position: relative;
    visibility: hidden;
}

#highlighted_product_info {
    position: fixed;
    width: 500px;
    height: 200px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    margin-top: 15%;
    position: fixed;
    z-index: 1;
    height: 400px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    word-wrap: break-word;
}

  
#highlighted_product_info > img {
    width: 300px;
    height: 210px;
}


#screen_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#highlighted_product_exit_button {
    right: 0;
    margin-right: 4%;
    position: absolute;
    font-size: 45px;
}

#highlighted_product_exit_button:active {
    opacity: 40%;
}

.loader {
    margin-top: 12%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 700px) {
    #eye_glasses_catalog_container {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    
    #highlighted_product_exit_button:hover {
        cursor: pointer;
        opacity: 40%;
    }
    
    #highlighted_product_info {
        max-height: 500px;
        height: 500px;
        max-width: 400px;
        width: 400px;
        margin-top: 1%;
    }

    #highlighted_product_info > img {
        width: 370px;
        height: 280px;
    }
    .product_card {
        margin-right: 5%;
        margin-left: 5%;
        position: absolute;
        background-color: white;
        max-width: 250px;
        width: 250px;
        /* height: 310px; */
        height: 375px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: arial;
        position: relative;
        word-wrap: break-word;
        margin-top: 10%;
    }

    .product_card > img {
        width: 250px;
        height: 160px;
    }

    .product_card > button:hover {
        opacity: 80%;
    }
}

#paging_buttons_container {
    display: flex;
    margin-top: 1%;
    margin-right: 1px;
    margin-left: 1px;
    flex-direction: row;
    justify-content: center;
}

#next_button, #previous_button {
    display: inline;
    background-color: rgb(104, 104, 104);
    color: white;
    font-size: 11px;
    border-width: 1px;
    padding: 9px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(72, 70, 88);
    cursor: pointer;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position: relative;
    margin-left: 10px;
}

#next_button:hover, #previous_button:hover {
    opacity: 65%;
}

#next_button:active, #previous_button:active {
    background-color: black;
}

