<div id="highlighted_product_info_container">
    <div class="screen_mask"></div>
    <div id="highlighted_product_info" *ngIf="this.highlightedCatalogItem != null">
        <a id="highlighted_product_exit_button" (click)="hideHighlightedProduct()">×</a>
        
        <img src="data:image/jpeg;base64,{{highlightedCatalogItem.photo.photoBase64}}">
        <h3>{{highlightedCatalogItem.title}}</h3>
        <br>
        <p class="price">{{highlightedCatalogItem.price}}₪</p>
        <br>
        <p class="description">{{highlightedCatalogItem.description}}</p>
        <!-- <p><button>🛒</button></p> -->
    </div>
</div>

<div id="item_delete_prompt_container">
    <div class="screen_mask"></div>
    <div id="item_delete_prompt" *ngIf="this.currentItemNominatedForDeletion != null">
        <p id="item_delete_text">Are you sure you wish to delete '{{this.currentItemNominatedForDeletion.title}}'?</p>
        <br>
        <br>
        <button id="item_confirm_delete_button" (click)="deleteCatalogItem(this.currentItemNominatedForDeletion.id)">אישור</button>
        <button id=item_cancel_delete_button (click)="hideDeleteItemPrompt()">ביטול</button>
    </div>

</div>
    
<br>
    
<div id="paging_buttons_container">
    <button id="previous_button" (click)="getCatalogItemsByType(this.currentPage - 1)" *ngIf="this.currentPage > 1">← הקודם</button>
    <button id="next_button" (click)="getCatalogItemsByType(this.currentPage + 1)" *ngIf="this.currentPage < this.maxPages">הבא →</button>
</div>

<div class="loader" *ngIf="this.catalogItems == null"></div>

<div id="catalog_container" *ngIf="this.catalogItems != null">
    <div class="product_card" *ngFor="let c of this.catalogItems">
        <a *ngIf="sessionUserDetails.userType == 'ADMIN'" id="delete_catalog_item_button" (click)="prepareDeleteItemPrompt(c)">×</a>
        <img src="data:image/jpeg;base64,{{c.photo.photoBase64}}">
        <br>
        <h3>{{c.title}}</h3>
        <br>
        <p class="brand">{{c.brand}}</p>
        <br>
        <p class="price">{{c.price}}₪</p>
        <!-- <p><button>🛒</button></p> -->
        <button (click)="displayHighlightedProduct(c)">...</button>
    </div>
</div>



