<div id="home_text">
    <h2>Lorem ipsum</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<div id="image_slider">
    <img class="slide_image fade" src="assets\images\shop.jpg">
    <img class="slide_image fade" src="assets\images\window.jpg">

    <a id="left_slide_button" (click)='changeSlider("left")'>&#10094;</a>
    <a id="right_slide_button" (click)='changeSlider("right")'>&#10095;</a>

    <div id="dot_container" style="text-align:center">
        <span class="dot" (click)='changeSliderToIndex(0)'></span> 
        <span class="dot" (click)='changeSliderToIndex(1)'></span> 
    </div>

</div>