<div id="home_text">

    <br>

    <p id="header">!ברוכים הבאים</p>

    <br>

    <p id="gen_text">
       החנות הוקמה ב1998 ומנוהלת ע"י ישראל (רלי) הרצליך
       <br>
       <br>
        בחנות קיימת מעבדה לבדיקת עיניים. כדי לקבוע בדיקה התקשרו 054-4518151 
        <br>
       או השתמשו בכל אחת מדרכי יצירת הקשר האחרות שתוכלו למצוא באתר
    </p>
</div>

<br>

<div id="image_slider">
    <img class="slide_image fade" src="assets\images\display_1.JPG">
    <img class="slide_image fade" src="assets\images\rely_1.JPG">
    <img class="slide_image fade" src="assets\images\shop_outside.JPG">
    <img class="slide_image fade" src="assets\images\rom_1.JPG">

    <a id="left_slide_button" (click)='changeSlider("left")'>&#10094;</a>
    <a id="right_slide_button" (click)='changeSlider("right")'>&#10095;</a>

    <div id="dot_container" style="text-align:center">
        <span class="dot" (click)='changeSliderToIndex(0)'></span> 
        <span class="dot" (click)='changeSliderToIndex(1)'></span> 
    </div>

</div>