#logo_container {
    cursor: pointer;
    height: 100%;
    display: table;
    float: right;
}

#logo_container:hover {
    cursor: pointer;
    opacity: 50%;
}

#inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#inner_header h2 {
    background-color: rgb(44, 44, 44);
    border-width: 0px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: dina;
    font-weight: 50;
}

#logo_container > img {
    padding-right: 20px;
    padding-top: 30px;
    vertical-align: middle;
}
