<div id="page">

    <br>
    <br>
    
    <form #formData="ngForm" *ngIf="sessionUserDetails.loginStatus != 'CONNECTED'">

        <label> <h3> : אנא הכנס/י פרטי הזדהות </h3> </label>

        <br>
        <br>
        
        <div>

            <input #usernameData="ngModel" [(ngModel)]="email" name="email" required minlength="4" type="text" placeholder="...אימייל" >

            <br>
            <br>

            <input #passwordData="ngModel" [(ngModel)]="password" name="password" required minlength="4" required maxlength="12"
            type="password" placeholder="...סיסמא">

            <br>
            <br>

        </div>

        <button id="login_button" (click)="login()">התחבר</button>

        <br>
        <br>
        
        <div id="error_message" *ngIf="this.isDisplayError == true">
            <span id="error_message_text">{{this.errorMessage}}</span>
        </div>
    </form>

    <br>
    
    <h3 id="logged_in_successfully_text" *ngIf="sessionUserDetails.loginStatus == 'CONNECTED'">!התחבר בהצלחה {{sessionUserDetails.email}}</h3>
</div>