<div id="screen_mask"></div>
<div id="detailed_item_info_container">
    <div id="detailed_item_info"></div>
</div>

<div id="eye_glasses_catalog_container">
    <div class="product_card" *ngFor="let c of this.catalogItems">
      <img src="data:image/jpeg;base64,{{c.photoBase64String}}">
      <h3>{{c.title}}</h3>
      <br>
      <p class="price">{{c.price}}₪</p>
      <br>
      <p class="amount_in_stock">{{c.amountInStock}}</p>
      <br>
      <!-- <p class="description">{{c.description}}</p> -->
      <!-- <p><button>🛒</button></p> -->
      <p><button>...</button></p>
    </div>
</div>