<div id="highlighted_product_info_container">
    <div id="screen_mask"></div>
    <div id="highlighted_product_info" *ngIf="this.highlightedCatalogItem != null">
        <a id="highlighted_product_exit_button" (click)="hideHighlightedProduct()">×</a>

        <img src="data:image/jpeg;base64,{{highlightedCatalogItem.photoBase64String}}">
        <h3>{{highlightedCatalogItem.title}}</h3>
        <br>
        <p class="price">{{highlightedCatalogItem.price}}₪</p>
        <br>
        <p class="amount_in_stock">{{highlightedCatalogItem.amountInStock}}</p>
        <br>
        <p class="description">{{highlightedCatalogItem.description}}</p>
        <!-- <p><button>🛒</button></p> -->
    </div>
</div>

<div class="row">
    <div id="filter_container" *ngFor="let b of this.brands">
        <button class="filter_button" (click)="getCatalogItemsByTypeAndBrand(b)">{{b}}</button>
    </div>
    <br>
</div>
<h2 id="no_data_found_message" *ngIf="this.displayNoDataFoundMessage">מצטערים, לא נמצאו מוצרים העונים על הגדרה זו</h2>

<div id="glass_lenses_catalog_container">
    <div class="product_card" *ngFor="let c of this.catalogItems">
      <img src="data:image/jpeg;base64,{{c.photoBase64String}}">
      <h3>{{c.title}}</h3>
      <br>
      <p class="brand">{{c.brand}}</p>
      <br>
      <p class="price">{{c.price}}₪</p>
      <br>
      <p class="amount_in_stock">{{c.amountInStock}}</p>
      <br>
      <!-- <p class="description">{{c.description}}</p> -->
      <!-- <p><button>🛒</button></p> -->
      <button (click)="displayHighlightedProduct(c)">...</button>
    </div>
</div>