#logo_container {
    cursor: pointer;
    height: 100%;
    display: table;
    float: left;
    padding-left: 25px;
}

#logo_container > img {
    vertical-align: middle;
    padding-top: 30%;
    padding-right: 40%;
}

#logo_text {
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-size: 60px;
    font-family: dina;
    font-weight: 50;
}