<span id="menu_container">
    <input type="checkbox" id="toggler" (click)="closeSubMenus()">
    <button class=hamburger>
        <div></div>
    </button>

    <div class="menu">
        <ul>
            <li><a href="#">בית</a></li>

            <li>
                <a href="#" (click)='changeSubMenuState("glasses_sub_menu")'>משקפיים</a>

                <ul id="glasses_sub_menu" class="sub_menu">
                    <li><a href="#" (click)="closeMenu()">משקפי שמש</a></li>
                    <li><a href="#" (click)="closeMenu()">משקפי ראייה</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#" (click)='changeSubMenuState("lenses_sub_menu")'>עדשות</a>
                
                <ul id="lenses_sub_menu" class="sub_menu">
                    <li><a href="#" (click)="closeMenu()">עדשות מגע</a></li>
                    <li><a href="#" (click)="closeMenu()">עדשות למשקפיים</a></li>
                </ul>
            </li>
        </ul>
    </div>
</span>